.current-weather {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 20rem;
  padding: 1rem 0.5rem;
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 0.4rem;
}

.current-weather .today-T {
  font-size: 4rem;
}

.current-weather .description {
  font-size: 1.6rem;
  text-transform: capitalize;
}

.current-weather .today-icon {
  margin-top: 0.5rem;
}

.current-weather .humidity-wind {
  font-size: 1.2rem;
  padding: 0.8rem 0;
}

@media only screen and (max-width: 770px) {
  .current-weather {
    width: 70vw;
    padding: 1rem 0.5rem;
  }
  .current-weather-horizontal {
    width: 70vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  .current-weather-city {
    font-size: 4rem;
    margin-bottom: 1rem;
  }

  .current-weather-updated {
    font-size: 1.1rem;
  }

  .current-weather .today-T {
    font-size: 5rem;
  }
}

@media only screen and (max-width: 700px) {
  .current-weather {
    width: 75vw;
  }

  .current-weather-horizontal {
    width: 75vw;
  }
}

@media only screen and (max-width: 600px) {
  .current-weather {
    width: 80vw;
  }

  .current-weather-horizontal {
    width: 80vw;
  }
}

@media only screen and (max-width: 400px) {
  .current-weather {
    width: 85vw;
  }

  .current-weather-horizontal {
    width: 85vw;
  }
}

@media only screen and (max-width: 350px) {
  .current-weather {
    width: 90vw;
  }

  .current-weather-horizontal {
    width: 90vw;
  }

  .current-weather-city {
    font-size: 3.5rem;
  }

  .current-weather .today-T {
    font-size: 4rem;
  }
}

@media only screen and (max-width: 300px) {
  .current-weather {
    width: 95vw;
  }

  .current-weather-horizontal {
    width: 95vw;
  }
}
