.current-weather .today-card {
  text-align: center;
  padding: 10px 5px;
  border: 2px solid rgba(0, 0, 0, 0.2);
}

.current-weather .card-title-top {
  margin-bottom: 0;
}

.current-weather .today-T-text {
  margin: 0;
}

.current-weather .today-T {
  font-size: 40px;
}

.current-weather .humidity-wind {
  font-size: 12px;
}
