.predictions-day .prediction {
  text-align: center;
  padding-bottom: 10px;
}

.predictions-day .future-day {
  font-size: 14px;
  font-weight: 400;
  padding-bottom: 4px;
}

.predictions-day .min-temp {
  color: rgba(0, 0, 0, 0.6);
}
